body {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.btn:focus, .btn.focus, .border-focus-0:focus, border-focus-0.focus {
    outline: 0;
    box-shadow: none;
}

.g-font-size-13
{
    font-size: 13px
} 

.g-font-size-14
{
    font-size: 14px
} 

.g-font-size-16 {
    font-size: 16px;
}

.g-font-size-18 {
    font-size: 18px;
}

.g-font-size-20 {
    font-size: 20px;
}

.g-font-size-22 {
    font-size: 22px;
}

.g-font-size-24 {
    font-size: 24px;
}

.g-font-size-44 {
    font-size: 44px;
}

.g-bg-opacity-dark-7 {
    background-color: rgba(0, 0, 0, .7);
}

/*
    Components  
*/

.icon-v1 {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    font-size: 20px;    
    line-height: 38px;
}

.shadow-v3 {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.3) !important;
}

/*
    Override bootstrap
*/
.btn-light {
    background-color: #fff;
}

